<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>573973448578-tb927nj5317jn69iqn9eo385j2feivrc.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.573973448578-tb927nj5317jn69iqn9eo385j2feivrc</string>
	<key>API_KEY</key>
	<string>AIzaSyDzOP_XvkRZWS2CDCanwh0-hz7QOrzFDzc</string>
	<key>GCM_SENDER_ID</key>
	<string>573973448578</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>lilleeash.ToDoCocoa</string>
	<key>PROJECT_ID</key>
	<string>todococoa-5db26</string>
	<key>STORAGE_BUCKET</key>
	<string>todococoa-5db26.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:573973448578:ios:daf50bd5fd8600ac8f319b</string>
</dict>
</plist>